<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/22406f9d4d.js" crossorigin="anonymous"></script>
	<link href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet" type="text/css"/>
	<title>
		<%= title%>
	</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>	
	<div id="Floater">
		<p><i class="fad fa-eye"></i> Viewed &nbsp;<font id="fetchMe">0%</font></p>
	</div>
	<header id="head1">
		<section class="Nav_Bar text-center">
			<ul>
				<li><a class="goto NvBar" data-value="about">About</a></li>
				<li><a  class="goto NvBar" data-value="Skills">Skills</a></li>
				<li><a class="goto NvBar" data-value="Portfolio">Portfolio</a></li>
				<li><a  class="goto" data-value="">Experience</a></li>
				<li><a  class="goto NvBar" data-value="Education">Education</a></li>
				<li><a  class="goto NvBar" data-value="Certifications">Certifications</a></li>
				<li><a class="goto NvBar" data-value="contact">Contact</a></li>
			</ul>
		</section>
	<section id="hv">
		<section id="ham">
			<i class="fas fa-bars"></i>
		</section>

		<section id="Nav_bar_2">
			<ul>
				<li><a class="NvBar" data-value="about">About</a></li>
				<li><a  class="NvBar" data-value="Skills">Skills</a></li>
				<li><a  class="NvBar" data-value="Portfolio">Portfolio</a></li>
				<li><a   >Experience</a></li>
				<li><a class="NvBar" data-value="Education">Education</a></li>
				<li><a   class="NvBar" data-value="Certifications">Certifications</a></li>
				<li><a  class="NvBar" data-value="contact">Contact</a></li>
			</ul>
		</section>
	</section>
		<section id="My_Name" class="text-center">
			Puru Bhargava
		</section>

		<section class="SLinks text-center">
			<li><a href="https://www.linkedin.com/in/puru-bhargava-6330031b7?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BiMMtjBwuRkyiPCbr9sIOrA%3D%3D" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>

			<li><a href="https://www.instagram.com/puru_bhargava_/" target="_blank"><i class="fab fa-instagram"></i></a></li>

			<li><a href="hhttps://github.com/Puru7071" target="_blank"><i class="fab fa-github"></i></a></li>

			<li><a href="https://auth.geeksforgeeks.org/user/purubhargava011/practice/" target="_blank"><img src="images/Capture.png" height="80%" width="100%" style="position: relative; top: 4px;"></a></li>

			<li><a href="https://www.snapchat.com/add/pbh21758" target="_blank"><i class="fab fa-snapchat"></i></a></li>
		</section>
	</header>
		<section id="My-pic" class="text-center">
			<img src="images/p1.jfif">
		</section>
	<main>
		<section>
			<div id="about">
				<p>
					A second-year Computer Science undergraduate at Chandigarh University. I am the kind of person who always focuses on the Bigger picture rather than looking for short-term solutions I always focus on the long-term and optimal solutions for a problem. I usually blend my current understanding and creativity in order to provide unique and outshining results. I always look forward to upgrading my knowledge and domain of understanding. Currently, I am hustling to get a better understanding of CPP and DSA. When I am off from coding and Problem- solving I usually read news feeds and I love to collect rare currency.
				</p>
				<a class="BTT" style=" right: -100px ;top: -100px;">
					<i class="fas fa-chevron-double-up"></i>
				</a>
			</div>
		</section>

		<section>
			<div id="Skills" class="Skills">
				<h1 class="Skills_Heading">
					<i class="fas fa-chalkboard-teacher"></i>&nbsp;
					<font>Skills</font>
				</h1>
				<div id="Progress_Bar">
					<div class="container">
						<div data-value = "90" class="skillContainer" style="background-color: #2828bd; height: 100%; border-top-left-radius: 19px; border-bottom-left-radius: 19px ;">
							<font style=" color: white; font-family: cursive; font-size: 22px; margin: 10px; font-weight: 900;">C</font>
						</div>
					</div>

					<div class="container">
						<div  data-value = "90" class="skillContainer"  style="background-color: #ec6a13; height: 100%; border-top-left-radius: 19px; border-bottom-left-radius: 19px ;">
							<font style=" color: white; font-family: cursive; font-size: 22px; margin: 10px; font-weight: 900;">C++</font>
						</div>
					</div>

					<div class="container">
						<div data-value = "50" class="skillContainer"  style="background-color: #036303; height: 100%; border-top-left-radius: 19px; border-bottom-left-radius: 19px ;">
							<font style=" color: white; font-family: cursive; font-size: 22px;  margin: 10px; font-weight: 900;">DS</font>
						</div>
					</div>

					<div class="container">
						<div data-value = "40"  class="skillContainer" style="background-color: #b30000; height: 100%; border-top-left-radius: 19px; border-bottom-left-radius: 19px ;">
							<font style=" color: white; font-family: cursive; font-size: 22px; margin: 10px; font-weight: 900;">Java</font>
						</div>
					</div>

					<div class="container">
						<div data-value = "85" class="skillContainer"  style="background-color: #39004d; height: 100%; border-top-left-radius: 19px; border-bottom-left-radius: 19px ;">
							<font style=" color: white; font-family: cursive; font-size: 22px; margin: 10px; font-weight: 900;">CSS</font>
						</div>
					</div>

					<div class="container">
						<div data-value = "65" class="skillContainer"  style="background-color: olive; height: 100%; border-top-left-radius: 19px; border-bottom-left-radius: 19px ;">
							<font style=" color: white; font-family: cursive; font-size: 22px; margin: 10px; font-weight: 900;">DBMS</font>
						</div>
					</div>

					<div class="container">
						<div data-value = "80"  class="skillContainer"  style="background-color: rosybrown; height: 100%; border-top-left-radius: 19px; border-bottom-left-radius: 19px ;">
							<font style=" color: white; font-family: cursive; font-size: 22px; margin: 10px; font-weight: 900;">HTML</font>
						</div>
					</div>

					<div class="container">
						<div data-value = "54" class="skillContainer"  style="background-color: rgb(51, 48, 48); height: 100%; border-top-left-radius: 19px; border-bottom-left-radius: 19px ;">
							<font style=" color: white; font-family: cursive; font-size: 22px; margin: 10px; font-weight: 900;">JavaScript</font>
						</div>
					</div>

					
				</div>

				<a class="BTT" style="right:30px; ">
					<i class="fas fa-chevron-double-up"></i>
				</a>

			</div>
		</section>

		<section id="Portfolio" class="Portfolio">
			<h1>
				<i class="fas fa-tasks"></i>&nbsp; Portfolio
			</h1>

		    <div>
				<div style="background-image: url(images/cal.svg); margin: 20px;">
					<div><a href=""><p>A calculator web app with Javascript as the core and style it with CSS.</p></a></div>
				</div>

				<div style="background-image: url(images/mp.svg); margin: 20px;">
					<div><a href=""><p>A music player like Spotify/Youtube Music using HTML and CSS.</p></a></div>
				</div>

				<div style="background-image: url(images/fb.svg); margin: 20px;">
					<div><a href=""><p>A social media website with popular features like a post, comment etc using Node.js, Mongo DB and more.</p></a></div>
				</div>

				<div style="background-image: url(images/omgle.svg); margin: 20px;">
					<div><a href=""><p>A basic chat engine using sockets, which enables the users to chat with each other on the website just like Omegle.</p></a></div>
				</div>

				<div style="background-image: url(images/amz.svg); margin: 20px;">
					<div><a href=""><p>The basic functionality of the shopping cart as you see in Amazon and Flipkart.</p></a></div>
				</div>

				<div style="background-image: url(images/ip.svg); margin: 20px;">
					<div><a href=""><p>A clone of iPod nano 5th gen.</p></a></div>
				</div>

				<div style="background-image: url(images/res.jfif); margin: 20px; background-size: cover;">
					<div><a href="https://github.com/Puru7071/Resume-Project" target="_blank"><p>A Resume Project to describe my accomplishments.</p></a></div>
				</div>

				<div style="background-image: url(images/to.svg); margin: 20px;">
					<div><a href="https://github.com/Puru7071/To-Do-App" target="_blank"><p>A simple todo list app using Node.js and express.js</p></a></div>
				</div>	
		</div>

		<a class="BTT" style="right: 30px; top: 0px;">
			<i class="fas fa-chevron-double-up"></i>
		</a>
		</section>

		<section class="Educ" id="Education">
			<div class="Education">
				<h1>
					<i class="fas fa-graduation-cap"></i> &nbsp; Education
				</h1>
				
				<div class="Edu_container">
					<div class="odd">
						<div class="My_edu">
							<div>
								<img src="images/svps.jpg"
								height="100px" width="100px" style="margin-right: 50px;">
							</div>
							<div>
								<h4 style="text-transform: capitalize; color: #3460a8; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">swami vivekanand public school, HUDA, 		Jagadhri.
								</h4>

								<h5 style="color: #eb9445; margin-top: -10px;">CBSE 10th - 94%</h5>

								<h6 style="color: #a0a4ab; margin-top: -10px">2017 to 2018</h6>
							</div>
						</div>
						<font style="color: #a0a4ab; margin-top: -10px font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px;">I feel like I did my 10th standard study from one of the best schools within my reach. The school's teacher helped us during ups and downs in our studies. A healthy competition among my peer group helped me gain lot of knowledge about course subjects and also help me in boosting my Aptitude skills.</font>
					</div>

					<div class="even">
						<div class="My_edu">
							<div>
								<img src="images/vbps.jpg"
								height="100px" width="100px" style="margin-right: 50px;">
							</div>
							<div>
								<h4 style="text-transform: capitalize; color: #3460a8; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Vishwa Bharati Public School, Jagadhri, 	Sector-19
								</h4>

								<h5 style="color: #eb9445; margin-top: -10px;">High School, CBSE 12th - 94.4%(PCM)</h5>

								<h6 style="color: #a0a4ab; margin-top: -10px">2019 to 2020</h6>
							</div>
						</div>
						<font style="color: #a0a4ab; margin-top: -10px font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px;">In search of better oportunities I moved to VBPS and it proved to a great decison of my life because here I met with many new people and learned a very important skill i.e. Comunication Skill and developed a live long relationship with these people.</font>
					</div>

					<div class="odd">
						<div class="My_edu">
							<div>
								<img src="images/cu.webp"
								height="115px" width="100px" style="margin-right: 50px;">
							</div>
							<div>
								<h4 style="text-transform: capitalize; color: #3460a8; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Chandigarh University, Gharuan, Mohali , Punjab
								</h4>

								<h5 style="color: #eb9445; margin-top: -10px;">BE CSE - 8.68 CGPA</h5>

								<h6 style="color: #a0a4ab; margin-top: -10px">2020 to 2024</h6>
							</div>
						</div>
						<font style="color: #a0a4ab; margin-top: -10px font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px;">Chandigarh University is ranked among the Asia's Best & Fastest Growing Private Universities by WCRC. Since the commencement CU's reputation has grown manifold as a credible and ethical education institute among its peers to recognition by both national & international organizations.</font>
					</div>

					<div class="divider">
						<div  class="indicator">
							<i class="fas fa-fighter-jet fa-5x" style="color: #2857a4;"></i>
						</div>
					</div>
				</div>
				<a class="BTT" style="right: 30px; ">
					<i class="fas fa-chevron-double-up"></i>
				</a>
			</div>
		</section>

		<section class="Educ" id="Certifications">
			<div class="Education">
				<h1>
					<i class="far fa-copy"></i> &nbsp; Certifications
				</h1>
				
				<div class="Edu_container">
					<div class="odd">
						<div class="My_edu">
							<div>
								<img src="images/cn.jfif"
								height="100px" width="100px" style="margin-right: 50px;">
							</div>
							<div>
								<h4 style="text-transform: capitalize; color: #3460a8; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Coding Ninjas.
								</h4>

								<h5 style="color: #eb9445; margin-top: -10px;">Introduction to C++ </h5>

								<h6 style="color: #a0a4ab; margin-top: -10px"> Feb 2021 to March 2021</h6>

							</div>
						</div>
						<font style="color: #a0a4ab; margin-top: -10px font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px;">The structure of the course is such that it takes you from basics to advanced. I would recommend it to all those who want to make a career in programming. </font><br>

						<a href="https://ninjasfiles.s3.amazonaws.com/certificate1405915c528c67a0920f562caa4fec772302ade.pdf" target="_blank" 
						class="Cred">See credential &nbsp;<i class="fas fa-external-link-alt"></i></a>
					</div>

					<div class="even">
						<div class="My_edu">
							<div>
								<img src="images/cn.jfif"
								height="100px" width="100px" style="margin-right: 50px;">
							</div>
							<div>
								<h4 style="text-transform: capitalize; color: #3460a8; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Coding Ninjas.
								</h4>

								<h5 style="color: #eb9445; margin-top: -10px;">Data Structures in C++</h5>

								<h6 style="color: #a0a4ab; margin-top: -10px">March 2021 to August 2021</h6>
							</div>
						</div>
						<font style="color: #a0a4ab; margin-top: -10px font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px;">Outstanding experience , great place to explore the techy inside you. Fabulous teachers who are always ready to help. I recommend you to join coding ninjas if you want to make your concepts clear(I took Data structures course). They have an extremely positive enviornment and teach very well.</font><br>

						<a href="https://ninjasfiles.s3.amazonaws.com/certificate14059145b4f57aad574368031632898b8924714.pdf" target="_blank" 
						class="Cred">See credential &nbsp;<i class="fas fa-external-link-alt"></i></a>
					</div>

					<div class="odd">
						<div class="My_edu">
							<div>
								<img src="images/cn.jfif"
								height="115px" width="100px" style="margin-right: 50px;">
							</div>
							<div>
								<h4 style="text-transform: capitalize; color: #3460a8; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Coding Ninjas.
								</h4>

								<h5 style="color: #eb9445; margin-top: -10px;">Interview Preparation | Aptitude Rounds</h5>

								<h6 style="color: #a0a4ab; margin-top: -10px">August 2021 to November 2021</h6>
							</div>
						</div>
						<font style="color: #a0a4ab; margin-top: -10px font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px;">Overall experience of coding ninja was really nice and the teachers are very helpful here. Even the teacher assistants are here to help you out and solve your problems.</font><br>

						<a href="https://ninjasfiles.s3.amazonaws.com/certificate17307365eb723b3b8014a4a800c761399f1ff43.pdf" target="_blank" 
						class="Cred">See credential &nbsp;<i class="fas fa-external-link-alt"></i></a>
					</div>

					<div class="even">
						<div class="My_edu">
							<div>
								<img src="images/cn.jfif"
								height="100px" width="100px" style="margin-right: 50px;">
							</div>
							<div>
								<h4 style="text-transform: capitalize; color: #3460a8; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Coding Ninjas.
								</h4>

								<h5 style="color: #eb9445; margin-top: -10px;">Front End | Full Stack Web Development</h5>

								<h6 style="color: #a0a4ab; margin-top: -10px">November 2021 to February 2022</h6>
							</div>
						</div>
						<font style="color: #a0a4ab; margin-top: -10px font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px;">The Web Development course gave me a taste of actually developing apps, because of which I was able to make some projects, and also polish my resume. </font><br>

						<a href="https://certificate.codingninjas.com/verify/1f954bd36bb1e0c2" target="_blank" 
						class="Cred">See credential &nbsp;<i class="fas fa-external-link-alt"></i></a>
					</div>

					<div class="divider">
						<div  class="indicator">
							<i class="fas fa-fighter-jet fa-5x" style="color: #2857a4;"></i>
						</div>
					</div>
				</div>
				<a class="BTT" style="right: 30px; ">
					<i class="fas fa-chevron-double-up"></i>
				</a>
			</div>
		</section>
	</main>
	<footer id="contact">
		<a class="BTT" style="color:white; right: 30px;">
			<i class="fas fa-chevron-double-up"></i>
		</a>
		<h1>
			<i class="fas fa-id-card"></i> &nbsp; Contact
		</h1>
		<div id="Box">
			<div id="Msg_box">
				<form action="/new-message" method="POST">
					<input type="text" name="Name" class="bars" placeholder="Your Name" required>
					<input type="email" name="Email" placeholder="Your Email" class="bars" required>
					<textarea placeholder="Your Message" class="bars" name="Message" required></textarea>
					<button type="submit" id="btn">SEND MESSAGE</button>
				</form>
			</div>

			<div id="Get_in_touch">
				<p id="para">
					<h3>Get in Touch</h3>
					If you any queries, suggestion or referrals please feel free to contact me.
					<h3>My Address</h3>

					<div><i class="fas fa-map-marker-alt"></i>&nbsp;#560, Friends Colony, Yamuna Nagar, Haryana, India.</div><br>

					<div><i class="fas fa-phone-volume"></i>&nbsp;7206117092</div><br>

					<div><i class="far fa-envelope"></i>&nbsp;purubhargava011@gmail.com</div>
				</p>
			</div>
		</div>
		<div class="SLinks text-center">
			<li><a href="https://www.linkedin.com/in/puru-bhargava-6330031b7?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BiMMtjBwuRkyiPCbr9sIOrA%3D%3D" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>

			<li><a href="https://www.instagram.com/puru_bhargava_/" target="_blank"><i class="fab fa-instagram"></i></a></li>

			<li><a href="https://github.com/Puru7071" target="_blank"><i class="fab fa-github"></i></a></li>

		</div>
		
	</footer>


	<script type="text/javascript" src="./js/script.js"></script>
</body>
</html>